{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>CCHC Lab Incharge Dashboard</title>
     <link href="{% static 'icons/hb.png' %}" rel="icon">
    <link rel="stylesheet"      href="{% static 'rp/vendors/mdi/css/materialdesignicons.min.css' %}" />
    <link rel="stylesheet"      href="{% static 'rp/vendors/flag-icon-css/css/flag-icon.min.css' %}" />
    <link rel="stylesheet"      href="{% static 'rp/vendors/css/vendor.bundle.base.css' %}" />
    <link rel="stylesheet"      href="{% static 'rp/vendors/jquery-bar-rating/css-stars.css' %}" />
    <link rel="stylesheet"      href="{% static 'rp/vendors/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet"      href="{% static 'rp/css/demo_2/style.css' %}" />
    <!--<link rel="shortcut icon"   href="{% static 'rp/images/favicon.png' %}" />-->
  </head>
  <body>
   <div class="container-scroller">
      <!-- partial:partials/_horizontal-navbar.html -->
      <div class="horizontal-menu">
        <nav class="navbar top-navbar col-lg-12 col-12 p-0">
          <div class="container">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
              <a class="navbar-brand brand-logo" href="{% url 'lab_incharge:lab_incharge_dashboard' %}">
                <img src="{% static 'rp/images/logo.svg' %}" alt="logo" />
                <span class="font-12 d-block font-weight-light">Lab Incharge Dashboard </span>
              </a>
              <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static 'rp/images/logo-mini.svg' %}" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
              <ul class="navbar-nav mr-lg-2">
                <li class="nav-item nav-search d-none d-lg-block">
                  <div class="input-group">
                    <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                      <span class="input-group-text" id="search">
                        <i class="mdi mdi-magnify"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" id="navbar-search-input" placeholder="Search" aria-label="search" aria-describedby="search">
                  </div>
                </li>
              </ul>
              <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                  <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                    <div class="nav-profile-img">
                      <img src="../../assets/images/dashboard/hospital/Doc_3.jpg" alt="image">
                    </div>
                    <div class="nav-profile-text">
                      <p class="text-black font-weight-semibold m-0">Dr. Nwoye</p>
                      <span class="font-13 online-color">online <i class="mdi mdi-chevron-down"></i></span>
                    </div>
                  </a>
                  <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                    <a class="dropdown-item" href="#">
                      <i class="mdi mdi-cached mr-2 text-success"></i> Activity Log </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                      <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
                  </div>
                </li>
              </ul>
              <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
                <span class="mdi mdi-menu"></span>
              </button>
            </div>
          </div>
        </nav>
        <nav class="bottom-navbar">
          <div class="container">
            <ul class="nav page-navigation">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'lab_incharge:lab_incharge_dashboard' %}">
                  <i class="mdi mdi-compass-outline menu-icon"></i>
                  <span class="menu-title">Dashboard</span>
                </a>
              </li>
              <!--<li class="nav-item">-->
              <!--  <a href="#" class="nav-link">-->
              <!--    <i class="mdi mdi-stethoscope menu-icon"></i>-->
              <!--    <span class="menu-title">Reports</span>-->
              <!--    <i class="menu-arrow"></i></a>-->
              <!--  <div class="submenu">-->
              <!--    <ul class="submenu-item">-->
              <!--      <li class="nav-item"><a class="nav-link" href="#">Patient wise Report</a></li>-->
              <!--      <li class="nav-item"><a class="nav-link" href="#">All Report</a></li>-->
              <!--    </ul>-->
              <!--  </div>-->
              <!--</li>-->
              <!--<li class="nav-item">-->
              <!--  <a href="#" class="nav-link">-->
              <!--    <i class="mdi mdi-monitor-dashboard menu-icon"></i>-->
              <!--    <span class="menu-title">Appointment</span>-->
              <!--    <i class="menu-arrow"></i></a>-->
              <!--  <div class="submenu">-->
              <!--    <ul class="submenu-item">-->
              <!--      <li class="nav-item"><a class="nav-link" href="{% url 'receptionist:newPatient_registration' %}">New Patient</a></li>-->
              <!--      <li class="nav-item"><a class="nav-link" href="{% url 'receptionist:oldPatient_registration' %}">Old Patinet</a></li>-->
              <!--    </ul>-->
              <!--  </div>-->
              <!--</li>-->
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="mdi mdi-clipboard-text menu-icon"></i>
                  <span class="menu-title">Reports</span>
                  <i class="menu-arrow"></i></a>
                <div class="submenu">
                  <ul class="submenu-item">
                    <li class="nav-item"><a class="nav-link" href="{% url 'lab_incharge:lab_incharge_patient_wise_report' %}">Patient wise Report</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'lab_incharge:lab_Incharge_patient_reports' %}">All Reports</a></li>
                    <!--<li class="nav-item"><a class="nav-link" href="#">Orthopedic</a></li>-->
                    <!--<li class="nav-item"><a class="nav-link" href="#">Pediatric</a></li>-->
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="mdi mdi-chart-bar menu-icon"></i>
                  <span class="menu-title">Schedule</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="mdi mdi-content-copy menu-icon"></i>
                  <span class="menu-title">IP List</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="mdi mdi-webpack menu-icon"></i>
                  <span class="menu-title">Settings</span>
                  <i class="menu-arrow"></i></a>
                <div class="submenu">
                  <ul class="submenu-item">
                    <li class="nav-item"><a class="nav-link" href="#">Account Settings</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Change Password</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'lab_incharge:logout_view' %}">Sign Out</a></li>
                  </ul>
                </div>
              </li>
              <!--<li class="nav-item">-->
              <!--  <div class=" nav-link d-flex">-->
                  <!--<button class="btn btn-sm bg-danger text-white">Online Booking</button>-->
              <!--    <div class="nav-item dropdown">-->
              <!--      <a class="nav-link count-indicator dropdown-toggle text-white font-weight-semibold" id="notificationDropdown" href="#" data-toggle="dropdown"> Settings </a>-->
              <!--      <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">-->
              <!--        <a class="dropdown-item" href="#">-->
              <!--          <i class="flag-icon flag-icon-bl mr-3"></i> Account Settings </a>-->
              <!--        <div class="dropdown-divider"></div>-->
              <!--        <a class="dropdown-item" href="#">-->
              <!--          <i class="flag-icon flag-icon-cn mr-3"></i> Edit Profile </a>-->
              <!--        <div class="dropdown-divider"></div>-->
              <!--        <a class="dropdown-item" href="#">-->
              <!--          <i class="flag-icon flag-icon-de mr-3"></i> Change Password </a>-->
              <!--        <div class="dropdown-divider"></div>-->
              <!--        <a class="dropdown-item" href="#">-->
              <!--          <i class="flag-icon flag-icon-ru mr-3"></i> Sign Out </a>-->
              <!--      </div>-->
              <!--    </div>-->
              <!--    <a class="text-white" href="index.html"><i class="mdi mdi-home-circle"></i></a>-->
              <!--  </div>-->
              <!--</li>-->
            </ul>
          </div>
        </nav>
      </div>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
          <div class="content-wrapper pb-0">
              {% block body %}
              {% endblock %}

          </div>
          <!-- content-wrapper ends -->

        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>

    <!--<script src="{% static 'rp/js/sdscrpit.js' %}"> </script>-->
    <!--<script src="{% static 'rp/js/dashboard.js/vendors/js/vendor.bundle.base.js' %}"></script>-->
    <!--<script src="{% static 'rp/vendors/jquery-bar-rating/jquery.barrating.min.js' %}"></script>-->
    <!--<script src="{% static 'rp/vendors/chart.js/Chart.min.js' %}"></script>-->
    <!--<script src="{% static 'rp/vendors/flot/jquery.flot.js' %}"></script>-->
    <!--<script src="{% static 'rp/vendors/flot/jquery.flot.resize.js' %}"></script>-->
    <!--<script src="{% static 'rp/vendors/flot/jquery.flot.categories.js' %}"></script>-->
    <!--<script src="{% static 'rp/vendors/flot/jquery.flot.fillbetween.js' %}"></script>-->
    <!--<script src="{% static 'rp/vendors/flot/jquery.flot.stack.js' %}"></script>-->
    <!--<script src="{% static 'rp/js/jquery.cookie.js' %}" type="text/javascript"></script>-->
    <!--<script src="{% static 'rp/js/off-canvas.js' %}"></script>-->
    <!--<script src="{% static 'rp/js/hoverable-collapse.js' %}"></script>-->
    <!--<script src="{% static 'rp/js/misc.js' %}"></script>-->
    <!--<script src="{% static 'rp/js/settings.js' %}"></script>-->
    <!--<script src="{% static 'rp/js/todolist.js' %}"></script>-->
    <!--<script src="{% static 'rp/js/chart.js' %}"></script>-->
    <!--<script src="{% static 'rp/js/dashboard.js' %}"></script>-->
    <script src="{% static 'rp/js/sdscrpit.js' %}"></script>
    <script src="{% static 'rp/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'rp/vendors/jquery-bar-rating/jquery.barrating.min.js' %}"></script>
    <script src="{% static 'rp/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'rp/vendors/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'rp/vendors/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'rp/vendors/flot/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'rp/vendors/flot/jquery.flot.fillbetween.js' %}"></script>
    <script src="{% static 'rp/vendors/flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'rp/js/off-canvas.js' %}"></script>
    <script src="{% static 'rp/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'rp/js/misc.js' %}"></script>
    <script src="{% static 'rp/js/settings.js' %}"></script>
    <script src="{% static 'rp/js/todolist.js' %}"></script>
    <script src="{% static 'rp/js/chart.js' %}"></script>
    <script src="{% static 'rp/js/dashboard.js' %}"></script>







  </body>
</html>